USE [master]
GO
/****** Object:  Database [_1712358]    Script Date: 14/3/2019 22:27:59 PM ******/
CREATE DATABASE [_1712358]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'_1712358', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\_1712358.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'_1712358_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\_1712358_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [_1712358].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [_1712358]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 14/3/2019 22:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [varchar](10) NULL,
	[HOTEN] [varchar](30) NULL,
	[GIOITINH] [varchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 14/3/2019 22:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MSHS] [nchar](10) NULL,
	[HOCTEN] [nvarchar](30) NULL,
	[GIOITINH] [varchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[LOP] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOC]    Script Date: 14/3/2019 22:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOC](
	[MALOP] [varchar](10) NULL,
	[TENLOP] [varchar](10) NULL,
	[NAM] [varchar](10) NULL,
	[GVCN] [varchar](10) NULL,
	[LOPTRUONG] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (N'001', N'	
Phùng Thị Xuân', N'Nữ', CAST(N'1972-12-12' AS Date), N'Ðồng Nai')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (N'002', N'Nguyễn Thị Hiền', N'Nữ', CAST(N'1975-11-11' AS Date), N'Đồng Tháp')
INSERT [dbo].[HOCSINH] ([MSHS], [HOCTEN], [GIOITINH], [NGAYSINH], [DIACHI], [LOP]) VALUES (N'001       ', N'Nguyễn Minh Đức', N'Nam', CAST(N'2000-12-12' AS Date), N'Đồng Nai', N'10A1')
INSERT [dbo].[HOCSINH] ([MSHS], [HOCTEN], [GIOITINH], [NGAYSINH], [DIACHI], [LOP]) VALUES (N'002       ', N'Phạm Quốc Dũng', N'Nam', CAST(N'2000-11-11' AS Date), N'Đồng Tháp', N'10A1')
INSERT [dbo].[HOCSINH] ([MSHS], [HOCTEN], [GIOITINH], [NGAYSINH], [DIACHI], [LOP]) VALUES (N'003       ', N'Đặng Thành Duy', N'Nam', CAST(N'2000-10-10' AS Date), N'Sơn La', N'10A1')
INSERT [dbo].[LOPHOC] ([MALOP], [TENLOP], [NAM], [GVCN], [LOPTRUONG]) VALUES (N'001', N'10A1', N'2015', N'001', N'001')
INSERT [dbo].[LOPHOC] ([MALOP], [TENLOP], [NAM], [GVCN], [LOPTRUONG]) VALUES (N'002', N'10A2', N'2015', N'002', N'004')
USE [master]
GO
