<!DOCTYPE html>
<html lang="en">
<head>
 <% include head %> 
</head>
<body>
<% include menu %>
<div class="container-fluid bg-3 text-center">    
  <% include detail_product %>
</div>
</body>
<% include script %>
<script>loaded('<%=id%>')</script>
</html>