
CREATE DATABASE QLCB
GO

USE QLCB
GO 

CREATE TABLE NHANVIEN
(	
	MANV char(15),
	TEN char(15),
	DCHI char(50),
	DTHOAI char(12),
	LUONG float,
	LOAINV bit,
	PRIMARY KEY (MANV)
)

CREATE TABLE KHACHHANG
(
	MAKH char(15),
	TEN char(15),
	DCHI char(50),
	DTHOAI char(12),
	PRIMARY KEY (MAKH)
)

CREATE TABLE KHANANG
(
	MANV char(15),
	MALOAI char(15),
	PRIMARY KEY (MANV,MALOAI)
)

CREATE TABLE DATCHO
(
	MAKH char(15),
	NGAYDI char(20),
	MACB char(4),
	PRIMARY KEY (MAKH,NGAYDI,MACB)
)

CREATE TABLE LOAIMB
(
	HANGSX char(15),
	MALOAI char(15),
	PRIMARY KEY (MALOAI)
)

CREATE TABLE PHANCONG
(
	MANV char(15),
	NGAYDI char(20),
	MACB char(4),
	PRIMARY KEY (MANV,NGAYDI,MACB)
)

CREATE TABLE LICHBAY
(
	NGAYDI char(20),
	MACB  char(4),
	SOHIEU int,
	MALOAI char(15),
	PRIMARY KEY (NGAYDI,MACB)
)

CREATE TABLE CHUYENBAY
(
	MACB char(4),
	SBDI char(3),
	SBDEN char(3),
	GIODI time,
	GIODEN time,
	PRIMARY KEY (MACB)
)

CREATE TABLE MAYBAY
(
	SOHIEU int,
	MALOAI char(15),
	PRIMARY KEY (SOHIEU,MALOAI)
)


--Tạo rằng buộc khóa ngoại
ALTER TABLE PHANCONG ADD CONSTRAINT FK_PHANCONG_NHANVIEN FOREIGN KEY (MANV) REFERENCES NHANVIEN(MANV)
ALTER TABLE PHANCONG ADD CONSTRAINT FK_PHANCONG_LICHBAY FOREIGN KEY (NGAYDI,MACB) REFERENCES LICHBAY(NGAYDI,MACB)
ALTER TABLE KHANANG ADD CONSTRAINT FK_KHANANG_NHANVIEN FOREIGN KEY (MANV) REFERENCES NHANVIEN(MANV)
ALTER TABLE KHANANG ADD CONSTRAINT FK_KHANANG_LOAIMB FOREIGN KEY (MALOAI) REFERENCES LOAIMB(MALOAI)
ALTER TABLE MAYBAY ADD CONSTRAINT FK_MAYBAY_LOAIMB FOREIGN KEY (MALOAI) REFERENCES LOAIMB(MALOAI)
ALTER TABLE LICHBAY ADD CONSTRAINT FK_LICHBAY_MAYBAY FOREIGN KEY (SOHIEU, MALOAI) REFERENCES MAYBAY(SOHIEU, MALOAI)
ALTER TABLE LICHBAY ADD CONSTRAINT FK_LICHBAY_CHUYENBAY FOREIGN KEY (MACB) REFERENCES CHUYENBAY(MACB)
ALTER TABLE DATCHO ADD CONSTRAINT FK_DATCHO_KHACHHANG FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH)
ALTER TABLE DATCHO ADD CONSTRAINT FK_DATCHO_LICHBAY FOREIGN KEY (NGAYDI,MACB) REFERENCES LICHBAY(NGAYDI,MACB)


--Nhập dữ liệu vào bảng


INSERT INTO NHANVIEN VALUES ('1006','Chi','12/6 Nguyen Kiem','8120012',150000,0),
							('1005','Giao','65 Nguyen Thai Son','8324467',500000,0),
							('1001','Huong','8 Dien Bien Phu','8330733',500000,1),
							('1002','Phong','1 Ly Thuong Kiet','8308117',450000,1),
							('1004','Phuong','351 Lac Long Quan','8308155',250000,0),
							('1003','Quang','78 Truong Dinh','8324461',350000,1),
							('1007','Tam','36 Nguyen Van Cu','8458188',500000,0)

INSERT INTO LOAIMB VALUES ('Airbus','A310'),
						  ('Airbus','A320'),
						  ('Airbus','A330'),
						  ('Airbus','A340'),
						  ('Boeing','B727'),
						  ('Boeing','B747'),
						  ('Boeing','B757'),
						  ('MD','DC10'),
						  ('MD','DC9')
INSERT INTO MAYBAY VALUES (10,'B747'),
						  (11,'B727'),
						  (13,'B727'),
						  (13,'B747'),
						  (21,'DC10'),
						  (21,'DC9'),
						  (22,'B757'),
						  (22,'DC9'),
						  (23,'DC9'),
						  (24,'DC9'),
						  (70,'A310'),
						  (80,'A310'),
						  (93,'B757')

INSERT INTO KHANANG VALUES ('1001','B727'),
						   ('1001','B747'),
						   ('1001','DC10'),
						   ('1001','DC9'),
						   ('1002','A320'),
						   ('1002','A340'),
						   ('1002','B757'),
						   ('1002','DC9'),
						   ('1003','A310'),
						   ('1003','DC9')


INSERT INTO LICHBAY VALUES ('11/01/2000','100',80,'A310'),
						   ('11/01/2000','112',21,'DC10'),
						   ('11/01/2000','206',22,'DC9'),
						   ('11/01/2000','334',10,'B747'),
						   ('11/01/2000','395',23,'DC9'),
						   ('11/01/2000','991',22,'B757'),
						   ('11/01/2000','337',10,'B747'),
						   ('10/31/2000','100',11,'B727'),
						   ('10/31/2000','112',11,'B727'),
						   ('10/31/2000','206',13,'B727'),
						   ('10/31/2000','334',10,'B747'),
						   ('10/31/2000','335',10,'B747'),
						   ('10/31/2000','337',24,'DC9'),
						   ('10/31/2000','449',70,'A310')
					   
INSERT INTO DATCHO VALUES ('0009','11/01/2000','100'),
						  ('0009','10/31/2000','449'),
						  ('0045','11/01/2000','991'),
						  ('0012','10/31/2000','206'),
						  ('0238','10/31/2000','334'),
						  ('0582','11/01/2000','991'),
						  ('0091','11/01/2000','100'),
						  ('0314','10/31/2000','449'),
						  ('0613','11/01/2000','100'),
						  ('0586','11/01/2000','991'),
						  ('0586','10/31/2000','100'),
						  ('0422','10/31/2000','449')

INSERT INTO PHANCONG VALUES ('1001','11/01/2000','100'),
							('1001','10/31/2000','100'),
							('1002','11/01/2000','100'),
							('1002','10/31/2000','100'),
							('1003','10/31/2000','100'),
							('1003','10/31/2000','337'),
							('1004','10/31/2000','100'),
							('1004','10/31/2000','337'),
							('1005','10/31/2000','337'),
							('1006','11/01/2000','991'),
							('1006','10/31/2000','337'),
							('1007','11/01/2000','112'),
							('1007','11/01/2000','991'),
							('1007','10/31/2000','206')

--Q17
SELECT SBDEN, COUNT(MACB) AS SoLuongCD
FROM CHUYENBAY
GROUP BY SBDEN
ORDER BY SBDEN

--Q18
SELECT SBDI, COUNT(MACB) AS SoLuongCD
FROM CHUYENBAY
GROUP BY SBDI
ORDER BY SBDI

--Q19
SELECT CHUYENBAY.SBDI, LICHBAY.NGAYDI, COUNT(CHUYENBAY.MACB) AS SoLuongCB
FROM CHUYENBAY INNER JOIN LICHBAY ON CHUYENBAY.MACB=LICHBAY.MACB
GROUP BY CHUYENBAY.SBDI, LICHBAY.NGAYDI
ORDER BY CHUYENBAY.SBDI

--Q20
SELECT CHUYENBAY.SBDEN, LICHBAY.NGAYDI, COUNT(CHUYENBAY.MACB) AS SoLuongCB
FROM CHUYENBAY INNER JOIN LICHBAY ON CHUYENBAY.MACB=LICHBAY.MACB
GROUP BY CHUYENBAY.SBDEN, LICHBAY.NGAYDI
ORDER BY CHUYENBAY.SBDEN

--Q21
SELECT LICHBAY.MACB, LICHBAY.NGAYDI, COUNT(PHANCONG.MANV) AS SoLuongTV
FROM LICHBAY LEFT JOIN PHANCONG ON (LICHBAY.MACB=PHANCONG.MACB AND LICHBAY.NGAYDI=PHANCONG.NGAYDI)
	LEFT JOIN NHANVIEN ON (PHANCONG.MANV=NHANVIEN.MANV AND NHANVIEN.LOAINV=0)
GROUP BY LICHBAY.MACB, LICHBAY.NGAYDI

--Q22
SELECT CHUYENBAY.SBDI, LICHBAY.NGAYDI, COUNT(CHUYENBAY.MACB) AS SoLuongCB
FROM CHUYENBAY INNER JOIN LICHBAY ON CHUYENBAY.MACB=LICHBAY.MACB
WHERE CHUYENBAY.SBDI='MIA' AND LICHBAY.NGAYDI='11/01/2000'
GROUP BY CHUYENBAY.SBDI, LICHBAY.NGAYDI

--Q23
SELECT LICHBAY.MACB, LICHBAY.NGAYDI, COUNT(PHANCONG.MANV) AS SoLuongTV
FROM LICHBAY LEFT JOIN PHANCONG ON (LICHBAY.MACB=PHANCONG.MACB AND LICHBAY.NGAYDI=PHANCONG.NGAYDI)
GROUP BY LICHBAY.MACB, LICHBAY.NGAYDI
ORDER BY COUNT(PHANCONG.MANV) DESC

--Q24
SELECT LICHBAY.MACB, LICHBAY.NGAYDI, COUNT(DATCHO.MAKH) AS SoLuongHK
FROM LICHBAY LEFT JOIN DATCHO ON (LICHBAY.MACB=DATCHO.MACB AND LICHBAY.NGAYDI=DATCHO.NGAYDI)
GROUP BY LICHBAY.MACB, LICHBAY.NGAYDI
ORDER BY COUNT(DATCHO.MAKH) DESC

--Q25
SELECT LICHBAY.MACB, LICHBAY.NGAYDI, SUM(NHANVIEN.LUONG) AS TongLuong
FROM LICHBAY LEFT JOIN PHANCONG ON (LICHBAY.MACB=PHANCONG.MACB AND LICHBAY.NGAYDI=PHANCONG.NGAYDI)
	LEFT JOIN NHANVIEN ON PHANCONG.MANV=NHANVIEN.MANV
GROUP BY LICHBAY.MACB, LICHBAY.NGAYDI
ORDER BY SUM(NHANVIEN.LUONG) ASC

--Q26
SELECT AVG(NHANVIEN.LUONG) as LuongTB_TiepVien
FROM NHANVIEN
WHERE NHANVIEN.LOAINV=0

--Q27
SELECT AVG(NHANVIEN.LUONG) AS LuongTB_PhiCong
FROM NHANVIEN
WHERE NHANVIEN.LOAINV=1

--Q28
SELECT LOAIMB.MALOAI, COUNT(CHUYENBAY.MACB) AS SoLuongCB
FROM ((LOAIMB LEFT JOIN MAYBAY ON LOAIMB.MALOAI=MAYBAY.MALOAI)
	LEFT JOIN LICHBAY ON MAYBAY.SOHIEU=LICHBAY.SOHIEU AND MAYBAY.MALOAI=LICHBAY.MALOAI)
	LEFT JOIN CHUYENBAY ON LICHBAY.MACB = CHUYENBAY.MACB AND CHUYENBAY.SBDEN = 'ORD'
GROUP BY LOAIMB.MALOAI

--Q29
SELECT CHUYENBAY.SBDI,COUNT(CHUYENBAY.MACB) AS SOLUONG
FROM CHUYENBAY
WHERE CHUYENBAY.GIODI>'9:59' AND CHUYENBAY.GIODI<'22:01'
GROUP BY CHUYENBAY.SBDI
HAVING COUNT(CHUYENBAY.MACB)>2

--Q30
SELECT NHANVIEN.TEN,COUNT(LICHBAY.MACB) AS SOLANPHANCONG
FROM (NHANVIEN INNER JOIN PHANCONG ON NHANVIEN.MANV=PHANCONG.MANV) INNER JOIN LICHBAY ON 
LICHBAY.MACB=PHANCONG.MACB AND LICHBAY.NGAYDI=PHANCONG.NGAYDI
WHERE NHANVIEN.LOAINV='1'
GROUP BY NHANVIEN.TEN,LICHBAY.NGAYDI
HAVING COUNT(LICHBAY.MACB)>1

--Q31
SELECT LICHBAY.MACB,LICHBAY.NGAYDI,COUNT(DATCHO.MAKH) AS SOLUONGKHACHHANG
FROM LICHBAY INNER JOIN DATCHO ON LICHBAY.NGAYDI=DATCHO.NGAYDI AND LICHBAY.MACB=DATCHO.MACB
GROUP BY LICHBAY.MACB,LICHBAY.NGAYDI
HAVING COUNT(DATCHO.MAKH)<3

--Q32
SELECT MAYBAY.SOHIEU,MAYBAY.MALOAI,COUNT(PHANCONG.MANV) AS SOLANLAI
FROM ((PHANCONG INNER JOIN LICHBAY ON PHANCONG.MACB=LICHBAY.MACB AND PHANCONG.NGAYDI=LICHBAY.NGAYDI)
 INNER JOIN MAYBAY ON MAYBAY.MALOAI=LICHBAY.MALOAI AND MAYBAY.SOHIEU=LICHBAY.SOHIEU)
 INNER JOIN KHANANG ON KHANANG.MANV=PHANCONG.MANV 
WHERE PHANCONG.MANV='1001' AND LICHBAY.MALOAI=KHANANG.MALOAI
GROUP BY MAYBAY.SOHIEU,MAYBAY.MALOAI
HAVING COUNT(PHANCONG.MANV)>2

--Q33
SELECT LOAIMB.HANGSX,COUNT(LOAIMB.MALOAI) AS SOLOAIMAYBAY
FROM LOAIMB
GROUP BY LOAIMB.HANGSX
