CREATE DATABASE QLDETAI

GO

USE QLDETAI

CREATE TABLE GIAOVIEN
(
	MAGV varchar(5),
	HOTEN nvarchar(40),
	LUONG Float,
	PHAI nvarchar(3),
	NGSINH date,
	DIACHI nvarchar(100),
	GVQLCM varchar(5),
	MABM nvarchar(5)
	PRIMARY KEY(MAGV)
)

CREATE TABLE GV_DT 
(
	MAGV varchar(5),
	DIENTHOAI varchar(12)
	PRIMARY KEY(MAGV, DIENTHOAI)
)

CREATE TABLE BOMON
(
	MABM nvarchar(5),
	TENBM nvarchar(40),
	PHONG varchar(5),
	DIENTHOAI varchar(12),
	TRUONGBM varchar(5),
	MAKHOA varchar(4),
	NGAYNHANCHUC date
	PRIMARY KEY(MABM)
)

CREATE TABLE KHOA
(
	MAKHOA varchar(4),
	TENKHOA nvarchar(40),
	NAMTL Int,
	PHONG varchar(5),
	DIENTHOAI varchar(12),
	TRUONGKHOA varchar(5),
	NGAYNHANCHUC date
	PRIMARY KEY(MAKHOA)
)

CREATE TABLE DETAI
(
	MADT varchar(3),
	TENDT nvarchar(100),
	CAPQL nvarchar(40),
	KINHPHI Float,
	NGAYBD date,
	NGAYKT date,
	MACD nvarchar(4),
	GVCNDT varchar(5)
	PRIMARY KEY(MADT)
)

CREATE TABLE CHUDE
(
	MACD nvarchar(4),
	TENCD nvarchar(50)
	PRIMARY KEY(MACD)
)

CREATE TABLE CONGVIEC
(
	MADT varchar(3),
	SOTT Int,
	TENCV nvarchar(40),
	NGAYBD date,
	NGAYKT date
	PRIMARY KEY(MADT, SOTT)
)

CREATE TABLE THAMGIADT
(
	MAGV varchar(5),
	MADT varchar(3),
	STT Int,
	PHUCAP Float ,
	KETQUA nvarchar(40)
	PRIMARY KEY(MAGV, MADT, STT)
)

CREATE TABLE NGUOITHAN
(
	MAGV varchar(5),
	TEN nvarchar(20),
	NGSINH date,
	PHAI nvarchar(3)
	PRIMARY KEY(MAGV, TEN)
)

ALTER TABLE THAMGIADT
ADD CONSTRAINT FK_THAMGIADT_CONGIVEC
FOREIGN KEY(MADT, STT)
REFERENCES CONGVIEC(MADT, SOTT)

ALTER TABLE THAMGIADT
ADD CONSTRAINT FK_THAMGIADT_GIAOVIEN
FOREIGN KEY(MAGV)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE CONGVIEC
ADD CONSTRAINT FK_CONGVIEC_DETAI
FOREIGN KEY(MADT)
REFERENCES DETAI(MADT)

ALTER TABLE DETAI
ADD CONSTRAINT FK_DETAI_CHUDE
FOREIGN KEY(MACD)
REFERENCES CHUDE(MACD)

ALTER TABLE DETAI
ADD CONSTRAINT KF_DETAI_GIAOVIEN
FOREIGN KEY(GVCNDT)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE KHOA
ADD CONSTRAINT FK_KHOA_GIAOVIEN
FOREIGN KEY(TRUONGKHOA)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE BOMON
ADD CONSTRAINT FK_BOMON_KHOA
FOREIGN KEY(MAKHOA)
REFERENCES KHOA(MAKHOA)

ALTER TABLE BOMON
ADD CONSTRAINT FK_BOMON_GIAOVIEN
FOREIGN KEY(TRUONGBM)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE GIAOVIEN
ADD CONSTRAINT FK_GIAOVIEN_BOMON
FOREIGN KEY(MABM)
REFERENCES BOMON(MABM)

ALTER TABLE GIAOVIEN
ADD CONSTRAINT FK_GIAOVIEN_GIAOVIEN
FOREIGN KEY(GVQLCM)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE GV_DT
ADD CONSTRAINT FK_GV_DT_GIAOVIEN
FOREIGN KEY(MAGV)
REFERENCES GIAOVIEN(MAGV)

ALTER TABLE NGUOITHAN
ADD CONSTRAINT FK_NGUOITHAN_GIAOVIEN
FOREIGN KEY(MAGV)
REFERENCES GIAOVIEN(MAGV)



INSERT INTO KHOA VALUES ('CNTT',N'Công nghệ thông tin',1995,'B11','0838123456','002','2005-02-20'),
						('HH',N'Hóa Học',1980,'B41','0838456456','007','2001-10-15'),
						('SH',N'Sinh Học',1980,'B31','0838454545','004','2000-10-11'),
						('VL',N'Vật Lý',1976,'B21','0838223223','005','2003-09-18')


INSERT INTO CHUDE VALUES ('NCPT',N'Nghiên cứu phát triển'),
						 ('QLGD',N'Quản lý giáo dục'),
						 (N'ƯDCN',N'Ứng dụng công nghệ')



INSERT INTO NGUOITHAN VALUES ('001',N'Hùng','1990-01-14','Nam'),
							 ('001',N'Thùy','1994-12-08',N'Nữ'),
							 ('003',N'Hà','1998-12-08',N'Nữ'),
							 ('003',N'Thu','1998-09-03',N'Nữ'),
							 ('007',N'Mai','2003-03-26',N'Nữ'),
							 ('007',N'Vy','2000-02-14',N'Nữ'),
							 ('008',N'Nam','1991-05-06','Nam'),
							 ('009',N'An','1996-08-19','Nam'),
							 ('010',N'Nguyệt','2006-01-14',N'Nữ')


INSERT INTO THAMGIADT VALUES ('001','002',1,0.0,NULL),
							 ('001','002',2,2.0,NULL),
							 ('002','001',4,2.0,N'Đạt'),
							 ('003','001',1,1.0,N'Đạt'),
							 ('003','001',2,0.0,N'Đạt'),
							 ('003','001',4,1.0,N'Đạt'),
							 ('003','002',2,0.0,NULL),
							 ('004','006',1,0.0,N'Đạt'),
							 ('004','006',2,1.0,N'Đạt'),
							 ('006','006',2,1.5,N'Đạt'),
							 ('009','002',3,0.5,NULL),
							 ('009','002',4,1.5,NULL)



INSERT INTO GV_DT VALUES ('001','0838912112'),
						 ('001','0903123123'),
						 ('002','0913454545'),
						 ('003','0838121212'),
						 ('003','0903656565'),
						 ('003','0937125125'),
						 ('006','0937888888'),
						 ('008','0653717171'),
						 ('008','0913232323')

UPDATE GIAOVIEN SET MABM = 'MMT' WHERE MAGV = '001'
UPDATE GIAOVIEN SET MABM = 'HTTT' WHERE MAGV = '002'
UPDATE GIAOVIEN SET MABM = 'HTTT' WHERE MAGV = '003'
UPDATE GIAOVIEN SET MABM = 'VS' WHERE MAGV = '004'
UPDATE GIAOVIEN SET MABM = N'VLĐT' WHERE MAGV = '005'
UPDATE GIAOVIEN SET MABM = 'VS' WHERE MAGV = '006'
UPDATE GIAOVIEN SET MABM = 'HPT' WHERE MAGV = '007'
UPDATE GIAOVIEN SET MABM = 'HPT' WHERE MAGV = '008'
UPDATE GIAOVIEN SET MABM = 'MMT' WHERE MAGV = '009'
UPDATE GIAOVIEN SET MABM = 'HPT' WHERE MAGV = '010'

--Q1
SELECT HOTEN, LUONG
FROM GIAOVIEN
WHERE PHAI = N'Nữ'

--Q2
SELECT HOTEN, LUONG*1.1
FROM GIAOVIEN

--Q3
SELECT DISTINCT GIAOVIEN.MAGV
FROM GIAOVIEN, BOMON
WHERE (GIAOVIEN.HOTEN LIKE N'Nguyễn%' AND GIAOVIEN.LUONG > 2000) OR
(GIAOVIEN.MAGV = BOMON.TRUONGBM AND (YEAR(BOMON.NGAYNHANCHUC) > 1995))

--Q4
SELECT GIAOVIEN.HOTEN
FROM (GIAOVIEN INNER JOIN BOMON ON GIAOVIEN.MABM = BOMON.MABM)
	INNER JOIN KHOA ON BOMON.MAKHOA = KHOA.MAKHOA
WHERE KHOA.TENKHOA = N'Công nghệ thông tin'

--Q5
SELECT BOMON.*, GIAOVIEN.*
FROM BOMON INNER JOIN GIAOVIEN ON BOMON.TRUONGBM = GIAOVIEN.MAGV

--Q6
SELECT GIAOVIEN.MAGV, BOMON.*
FROM GIAOVIEN INNER JOIN BOMON ON GIAOVIEN.MABM = BOMON.MABM

--Q7
SELECT DETAI.TENDT, GIAOVIEN.HOTEN
FROM DETAI INNER JOIN GIAOVIEN ON DETAI.GVCNDT = GIAOVIEN.MAGV
--Q8
SELECT KHOA.MAKHOA, KHOA.TRUONGKHOA, GIAOVIEN.HOTEN, GIAOVIEN.LUONG, GIAOVIEN.PHAI, GIAOVIEN.NGSINH, GIAOVIEN.DIACHI, GIAOVIEN.GVQLCM, GIAOVIEN.MABM
FROM KHOA INNER JOIN GIAOVIEN ON KHOA.TRUONGKHOA = GIAOVIEN.MAGV

--Q9
SELECT GIAOVIEN.*,THAMGIADT.MADT
FROM (GIAOVIEN INNER JOIN BOMON ON GIAOVIEN.MABM = BOMON.MABM)
	INNER JOIN THAMGIADT ON THAMGIADT.MAGV = GIAOVIEN.MAGV
WHERE BOMON.TENBM = 'Vi Sinh' and THAMGIADT.MADT = '006'

--Q10
SELECT DETAI.MADT, CHUDE.TENCD, GIAOVIEN.HOTEN, GIAOVIEN.NGSINH, GIAOVIEN.DIACHI
FROM (DETAI INNER JOIN CHUDE ON DETAI.MACD = CHUDE.MACD)
	INNER JOIN GIAOVIEN ON DETAI.GVCNDT = GIAOVIEN.MAGV

--Q11
SELECT G1.HOTEN, G2.HOTEN
FROM GIAOVIEN AS G1 LEFT JOIN GIAOVIEN AS G2 ON G1.GVQLCM = G2.MAGV

--Q12
SELECT G1.HOTEN
FROM GIAOVIEN AS G1 INNER JOIN GIAOVIEN AS G2 ON G1.GVQLCM = G2.MAGV
WHERE G2.HOTEN = N'Nguyễn Thanh Tùng'

--Q13
SELECT GIAOVIEN.HOTEN
FROM BOMON INNER JOIN GIAOVIEN ON BOMON.TRUONGBM = GIAOVIEN.MAGV
WHERE BOMON.TENBM = N'Hệ thống thông tin'

--Q14
SELECT GIAOVIEN.HOTEN
FROM (DETAI INNER JOIN CHUDE ON DETAI.MACD = CHUDE.MACD)
	INNER JOIN GIAOVIEN ON DETAI.GVCNDT = GIAOVIEN.MAGV
WHERE CHUDE.TENCD = N'Quản lý giáo dục'

--Q15
SELECT CONGVIEC.TENCV
FROM CONGVIEC INNER JOIN DETAI ON CONGVIEC.MADT = DETAI.MADT
WHERE CONGVIEC.NGAYBD like '2008-03%'

--Q16
SELECT G1.HOTEN, G2.HOTEN
FROM GIAOVIEN AS G1 LEFT JOIN GIAOVIEN AS G2 ON G1.GVQLCM = G2.MAGV

--Q17
SELECT CONGVIEC.TENCV
FROM CONGVIEC
WHERE (CONGVIEC.NGAYBD >= '2007-01-01') AND (CONGVIEC.NGAYKT <= '2007-08-01')

--Q18
SELECT g1.HOTEN
FROM GIAOVIEN as g1 INNER JOIN GIAOVIEN as g2 ON (g1.MABM = g2.MABM AND g1.MAGV != g2.MAGV)
WHERE g2.HOTEN = N'Trần Trà Hương'

--Q19
SELECT DISTINCT GIAOVIEN.HOTEN 
FROM (BOMON INNER JOIN GIAOVIEN ON BOMON.TRUONGBM = GIAOVIEN.MAGV)
	INNER JOIN DETAI ON  GIAOVIEN.MAGV = DETAI.GVCNDT

--Q20
SELECT DISTINCT GIAOVIEN.HOTEN 
FROM (BOMON INNER JOIN GIAOVIEN ON BOMON.TRUONGBM = GIAOVIEN.MAGV)
	INNER JOIN KHOA ON  GIAOVIEN.MAGV = KHOA.TRUONGKHOA 

--Q21
SELECT DISTINCT GIAOVIEN.HOTEN 
FROM (BOMON INNER JOIN GIAOVIEN ON BOMON.TRUONGBM = GIAOVIEN.MAGV)
	INNER JOIN DETAI ON  GIAOVIEN.MAGV = DETAI.GVCNDT

--Q22
SELECT DISTINCT GIAOVIEN.HOTEN 
FROM (KHOA INNER JOIN GIAOVIEN ON KHOA.TRUONGKHOA = GIAOVIEN.MAGV)
	INNER JOIN DETAI ON  GIAOVIEN.MAGV = DETAI.GVCNDT

--Q23
SELECT DISTINCT GIAOVIEN.*
FROM GIAOVIEN, THAMGIADT
WHERE GIAOVIEN.MABM = 'HTTT' OR (THAMGIADT.MAGV = GIAOVIEN.MAGV AND THAMGIADT.MADT = '001')

--Q24
SELECT G1.*
FROM GIAOVIEN AS G1 INNER JOIN GIAOVIEN AS G2 ON (G1.MABM = G2.MABM AND G1.MAGV !=G2.MAGV)
WHERE G2.MAGV = '002'

--Q25
SELECT GIAOVIEN.*
FROM BOMON INNER JOIN GIAOVIEN ON BOMON.TRUONGBM = GIAOVIEN.MAGV

--Q26
SELECT GIAOVIEN.HOTEN, GIAOVIEN.LUONG
FROM GIAOVIEN

--
SELECT GIAOVIEN.HOTEN, GIAOVIEN.LUONG
FROM GIAOVIEN
WHERE GIAOVIEN.MABM = 'HTTT'

CREATE PROCEDURE TONG @A INT, @B INT, @t INT OUT
AS
	SET @T = @A + @B

DECLARE @SUMOUT INT
EXEC TONG 2,3,@SUMOUT OUT

PRINT @SUMOUT

ALTER PROCEDURE TONGMN @M INT, @N INT
AS
	DECLARE @T INT
	SET @T = 0
	WHILE (@M <= @N)
	BEGIN
		IF (@M % 2 = 0)
		BEGIN 
			SET @T = @T + @M
		END
		SET @M = @M + 1
	END
	PRINT @T

EXEC TONGMN 11,13

ALTER PROCEDURE KIEMTRA @M VARCHAR(5)
AS
	IF(EXISTS(SELECT * FROM GIAOVIEN WHERE GIAOVIEN.MAGV = @M))
	BEGIN
		PRINT 'TON TAI'
	END
	ELSE
	BEGIN
		PRINT 'KHONG TON TAI'
	END

EXEC KIEMTRA '011'

CREATE PROCEDURE XUATGIAOVIEN @BM NVARCHAR(5)
AS
	SELECT *
	FROM GIAOVIEN
	WHERE GIAOVIEN.MABM = @BM

EXEC XUATGIAOVIEN 'HPT'

CREATE FUNCTION TUOI(@N DATE)
RETURNS INT
AS
BEGIN
	RETURN YEAR(GETDATE()) - YEAR(@N)
END

PRINT DBO.TUOI('1/1/2000')

SELECT GIAOVIEN.HOTEN, DBO.TUOI(NGSINH) AS TUOI
FROM GIAOVIEN

ALTER FUNCTION DANHSACH()
RETURNS TABLE
AS 
	RETURN (SELECT * FROM GIAOVIEN WHERE GIAOVIEN.MABM = 'HTTT')

SELECT *
FROM DBO.DANHSACH()
--1
SELECT DISTINCT GV1.MAGV, GV1.HOTEN
FROM GIAOVIEN AS GV1 INNER JOIN THAMGIADT AS TG ON GV1.MAGV = TG.MAGV
WHERE NOT EXISTS( (SELECT DETAI.MADT
					FROM DETAI INNER JOIN GIAOVIEN AS GV2 ON DETAI.GVCNDT = GV2.MAGV
					WHERE GV2.HOTEN = N'Trần Trà Hương')
					EXCEPT
					(SELECT TG2.MADT
					FROM THAMGIADT AS TG2
					WHERE TG2.MAGV = TG.MAGV))

--2
ALTER PROCEDURE sp_PhanCong @MaGV VARCHAR(5), @MaDT VARCHAR(3), @STT INT, @PhuCap FLOAT
AS
	IF(NOT EXISTS(SELECT * FROM GIAOVIEN WHERE GIAOVIEN.MAGV = @MaGV) OR
		NOT EXISTS(SELECT * FROM DETAI WHERE DETAI.MADT = @MaDT) OR
		NOT EXISTS(SELECT * FROM CONGVIEC WHERE CONGVIEC.SOTT = @STT))
	BEGIN
		RETURN -1
	END
	
	IF(EXISTS(SELECT * FROM THAMGIADT WHERE THAMGIADT.MAGV = @MaGV AND THAMGIADT.MADT = @MaDT AND THAMGIADT.STT = @STT))
	BEGIN
		PRINT N'Đã phân công'
		RETURN 0
	END

	INSERT INTO THAMGIADT(MAGV,MADT,STT,PHUCAP,KETQUA)
	VALUES(@MaGV,@MaDT,@STT,@PhuCap,NULL)
	IF(@@ROWCOUNT =1)
		RETURN 1

DECLARE @KQ INT
EXEC @KQ=sp_PhanCong '001', '002', 1, 1.0
PRINT @KQ

SELECT * FROM THAMGIADT
DELETE FROM THAMGIADT WHERE THAMGIADT.MAGV = '001' AND THAMGIADT.MADT = '002' AND THAMGIADT.STT = 1
--3
ALTER FUNCTION fTinhPhuCap(@MAGV VARCHAR(5))
RETURNS FLOAT
AS
BEGIN
	IF(NOT EXISTS(SELECT * FROM THAMGIADT WHERE THAMGIADT.MAGV = @MAGV))
	BEGIN
		RETURN -1
	END
	DECLARE @TONG FLOAT
	SET @TONG = (SELECT SUM(THAMGIADT.PHUCAP)
			FROM THAMGIADT
			WHERE THAMGIADT.MAGV = @MAGV  AND THAMGIADT.KETQUA = N'Đạt')
	IF(@TONG IS NULL)
	BEGIN
		SET @TONG = 0
	END
	RETURN @TONG
END

PRINT DBO.fTinhPhuCap('007')
--4
ALTER PROCEDURE sp_XuatGV
AS 
	DECLARE @MAGV VARCHAR(5), @HOTEN NVARCHAR(40), @LUONG FLOAT, @PHAI NVARCHAR(3)
	DECLARE C CURSOR FOR
	SELECT DISTINCT MAGV, HOTEN, LUONG, PHAI FROM GIAOVIEN
	OPEN C
	FETCH FROM C INTO @MAGV, @HOTEN, @LUONG, @PHAI
	WHILE @@FETCH_STATUS=0
	BEGIN
		DECLARE @PHUCAP FLOAT
		EXEC @PHUCAP = fTinhPhuCap @MAGV
		IF(@PHUCAP = -1)
		BEGIN
			SET @PHUCAP = 0
		END
		PRINT @MAGV+'-'+@HOTEN+'-'+CAST(@LUONG AS VARCHAR)+'-'+@PHAI+'-'+CAST(@PHUCAP AS VARCHAR)
		FETCH NEXT FROM C INTO @MAGV, @HOTEN, @LUONG, @PHAI
	END
	CLOSE C
	DEALLOCATE C

EXEC sp_XuatGV

